  .navigation {
    &__checkbox {
      display: none;
      cursor: pointer;
    }

  // ICON
  &__icon {
    position: relative;
    margin-top: 2.7rem;
    
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-primary;
      display: inline-block;
      cursor: pointer;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all .2s;
      
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}