.alert {
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  // border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 1rem 4rem rgba(0,0,0, .12);

  &__success {
    background-color: rgba(0,128,0,.5);
  }
 
  &__warning{
    background-color: rgba(128,0,0,.5);
  }

  &__cation{
    background-color: rgba(0,0,128,.5);
  }
}

